[Unit]
Description=frida-server
After=network.target
[Service]
Type=simple
User=nobody
Restart=always
ExecStart=/usr/local/bin/adb shell "/data/local/tmp/frida-server -l 0.0.0.0"
[Install]
WantedBy=multi-user.target
